<!-- END PRELOADER -->
{% extends "base.jinja2" %}
{% block title %}Blog{% endblock %}
{% block content %}
    <div class="blog-coming-soon">
        <h2 class=>Coming Soon!</h2>
        <p>
            MindHealth Chicago's Clinical Staff is preparing up to offer relavant, meaningful and dynamic written content. Feel free to review other great mental health written content:
        </div>
        <div class="blog-other-reading">
            <div class="fl-module-content fl-node-content">
                <p>
                    The following links are listed to provide you with additional online mental health care information. Please also check the additional links provided for physical health for a more comprehensive understanding of your overall well-being. The following is not meant to be a comprehensive list, nor is it an endorsement of the content of the sites.
                </p>
                <div class="row">
                    <div class="grid-palm-6 grid-tab-6 grid-desk-6">
                        <p>
                            <strong>Associations &amp; Institutes</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.aacap.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">American Academy of Child &amp; Adolescent Psychiatry</a>
                            </li>
                            <li>
                                <a href="http://www.aamft.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">American Association for Marriage and Family Therapy</a>
                            </li>
                            <li>
                                <a href="http://www.counseling.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">American Counseling Association</a>
                            </li>
                            <li>
                                <a href="http://www.psych.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">American Psychiatric Association</a>
                            </li>
                            <li>
                                <a href="http://www.apa.org/" target="_blank" rel="noopener noreferrer">American Psychological Association</a>
                            </li>
                            <li>
                                <a href="http://www.psychologicalscience.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">American Psychological Society</a>
                            </li>
                            <li>
                                <a href="http://www.samhsa.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">Center for Mental Health Services</a>
                            </li>
                            <li>
                                <a href="http://www.mentalhealthamerica.net/"
                                   target="_blank"
                                   rel="noopener noreferrer">Mental Health America</a>
                            </li>
                            <li>
                                <a href="http://www.mentalhealth.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">MentalHealth.gov/</a>
                            </li>
                            <li>
                                <a href="http://www.nimh.nih.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Institute of Mental Health</a>
                            </li>
                            <li>
                                <a href="http://www.nmha.org/" target="_blank" rel="noopener noreferrer">National Mental Health Association</a>
                            </li>
                            <li>
                                <a href="http://www.nationaleatingdisorders.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Eating Disorders Association</a>
                            </li>
                            <li>
                                <a href="http://www.sleepfoundation.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Sleep Foundation</a>
                            </li>
                            <li>
                                <a href="http://www.healthywomen.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Women’s Health Resource Center</a>
                            </li>
                            <li>
                                <a href="http://www.nctsn.org/trauma-types/terrorism"
                                   target="_blank"
                                   rel="noopener noreferrer">The National Child Traumatic Stress Network</a>
                            </li>
                            <li>
                                <a href="http://www.nami.org/" target="_blank" rel="noopener noreferrer">NAMI (National Alliance on Mental Illness)</a>
                            </li>
                            <li>
                                <a href="http://www.samhsa.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">Substance Abuse and Mental Health Services Administration</a>
                            </li>
                            <li>
                                <a href="http://www.cdc.gov/" target="_blank" rel="noopener noreferrer">Centers for Disease Control and Prevention (CDC)</a>
                            </li>
                        </ul>
                    </div>
                    <div class="grid-palm-6 grid-tab-6 grid-desk-6">
                        <p>
                            <strong>Suicide Awareness and Hotlines</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.afsp.org/" target="_blank" rel="noopener noreferrer">American Foundation for Suicide Prevention</a>
                            </li>
                            <li>
                                <a href="http://www.save.org/" target="_blank" rel="noopener noreferrer">Suicide Awareness Voices of Education</a>
                            </li>
                            <li>
                                <a href="http://www.metanoia.org/suicide/"
                                   target="_blank"
                                   rel="noopener noreferrer">Suicide: Read This First</a>
                            </li>
                        </ul>
                        <p>
                            <strong>Depression</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.pendulum.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Bipolar Disorder News – Pendulum.org</a>
                            </li>
                            <li>
                                <a href="http://www.apa.org/topics/depress/recover.aspx"
                                   target="_blank"
                                   rel="noopener noreferrer">Depression and How Therapy Can Help</a>
                            </li>
                            <li>
                                <a href="http://www.depressionscreen.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Depression Screening</a>
                            </li>
                            <li>
                                <a href="http://www.dbsalliance.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Depression and Bipolar Support Alliance (DBSA)</a>
                            </li>
                        </ul>
                        <p>
                            <strong>Anxiety Disorders</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.apa.org/pubinfo/panic.html"
                                   target="_blank"
                                   rel="noopener noreferrer">Answers to Your Questions About Panic Disorder&nbsp;</a>
                            </li>
                        </ul>
                        <p>
                            <strong>Obsessive-Compulsive Disorder (OCD)</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.beyondocd.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Beyond OCD</a>
                            </li>
                            <li>
                                <a href="http://www.ocfoundation.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">International OCD Foundation</a>
                            </li>
                            <li>
                                <a href="http://www.bfrb.org/" target="_blank" rel="noopener noreferrer">Trichotillomania Learning Center</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="grid-palm-6 grid-tab-6 grid-desk-6">
                        <p>
                            <strong>Posttraumatic Stress Disorder (PTSD)</strong>
                        </p>
                        <ul>
                            <li>
                                <a href="http://www.ptsd.va.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Center for PTSD</a>
                            </li>
                            <li>
                                <a href="http://www.giveanhour.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Give an Hour</a>— for veterans and their families
                            </li>
                            <li>
                                <a href="http://www.ptsd.va.gov/"
                                   target="_blank"
                                   rel="noopener noreferrer">National Center for PTSD&nbsp;</a><a href="http://www.realwarriors.net/">Real Warriors (U.S. Department of Defense)</a>— for veterans and their families
                            </li>
                            <li>
                                <a href="http://www.giftfromwithin.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">The Gift From Within</a>
                            </li>
                            <li>
                                <a href="http://www.sidran.org/"
                                   target="_blank"
                                   rel="noopener noreferrer">Sidran Institute</a>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="grid-palm-6 grid-tab-6 grid-desk-6">
                            <p>
                                <strong>Addiction and Recovery</strong>
                            </p>
                            <ul>
                                <li>
                                    <a href="http://www.aa.org/" target="_blank" rel="noopener noreferrer">Alcoholics Anonymous</a>
                                </li>
                                <li>
                                    <a href="http://netaddiction.com/"
                                       target="_blank"
                                       rel="noopener noreferrer">Center for On-Line Addiction</a>
                                </li>
                                <li>
                                    <a href="http://www.well.com/user/woa/"
                                       target="_blank"
                                       rel="noopener noreferrer">Web of Addictions</a>
                                </li>
                                <li>
                                    <a href="https://crehab.org/teens-screen-time-addiction/"
                                       target="_blank"
                                       rel="noopener noreferrer">Screen Time Addiction and Treatment Among Teens</a>
                                </li>
                            </ul>
                        </div>
                        <div class="grid-palm-6 grid-tab-6 grid-desk-6">
                            <p>
                                <strong>Eating Disorders</strong>
                            </p>
                            <ul>
                                <li>
                                    <a href="http://www.eatright.org/"
                                       target="_blank"
                                       rel="noopener noreferrer">American Dietetic Association</a>
                                </li>
                                <li>
                                    <a href="http://www.something-fishy.org/"
                                       target="_blank"
                                       rel="noopener noreferrer">Something Fishy</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        <strong>Personality Disorders</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.healthofchildren.com/P/Personality-Disorders.html"
                               target="_blank"
                               rel="noopener noreferrer">Personality Disorders</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Attention-Deficit Hyperactivity Disorder</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.add.org/" target="_blank" rel="noopener noreferrer">ADDA – Attention Deficit Disorder Association</a>
                        </li>
                        <li>
                            <a href="http://www.nimh.nih.gov/health/topics/attention-deficit-hyperactivity-disorder-adhd/index.shtml"
                               target="_blank"
                               rel="noopener noreferrer">Attention-Deficit Hyperactivity Disorder, NIMH</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Child Abuse and Domestic Violence</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.childhelp.org/"
                               target="_blank"
                               rel="noopener noreferrer">Childhelp USA®</a>
                        </li>
                        <li>
                            <a href="http://www.apa.org/topics/trauma/memories.aspx"
                               target="_blank"
                               rel="noopener noreferrer">Questions and Answers about Memories of Childhood Abuse</a>
                        </li>
                        <li>
                            <a href="http://www.ndvh.org/" target="_blank" rel="noopener noreferrer">The National Domestic Violence Hotline Website</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Developmental Disorders</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://spinwarp.ucsd.edu/NeuroWeb/"
                               target="_blank"
                               rel="noopener noreferrer">NeuroWeb</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Diagnosis</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://dsm.psychiatryonline.org/doi/book/10.1176/appi.books.9780890425596"
                               target="_blank"
                               rel="noopener noreferrer">DSM-V: Diagnoses and Criteria</a>
                        </li>
                    </ul>
                    <p>
                        <strong>Medication</strong>
                    </p>
                    <ul>
                        <li>
                            <a href="http://www.drugwatch.com/"
                               target="_blank"
                               rel="noopener noreferrer">DrugWatch.com</a>&nbsp;provides up-to-date information about prescription and over-the-counter medications, including details about associated side effects.
                        </li>
                        <li>
                            <a href="http://www.drugalert.org/"
                               target="_blank"
                               rel="noopener noreferrer">Drugalert.org</a>&nbsp;is a comprehensive database with information and news alerts about potentially dangerous drugs currently on the market or previously available worldwide.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    {% endblock %}
