{% extends "base.jinja2" %}
{% block title %}Home{% endblock %}
{% block content %}
    <body data-spy="scroll"
          data-target="#bs-example-navbar-collapse-1"
          data-offset="70">
        <!-- Page Wrap -->
        <div class="page-wrap">
            <div id="home-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-slide-one">
                            <div class="swiper-image" data-swiper-parallax-y="-20%">
                                <div class="swiper-image-inner swiper-image-left swiper-image-one">
                                    <h1>
                                        Getting Therapy is a <span class="emphasis">Good</span><span> Thing.</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="swiper-image" data-swiper-parallax-y="35%">
                                <div class="swiper-image-inner swiper-image-right swiper-image-two">
                                    <p class="paragraph">
                                        Therapy is preventative. We often think that therapy is for crises. We think we need to go when our world has exploded: when we’ve faced an excruciating loss, when we’ve been blindsided by infidelity, when we’ve suffered some terrible trauma. So it might surprise you to learn that therapy is actually “one of the best methods of preventative health care you can do for your mind and your body before problems get too big.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-two">
                            <div class="swiper-image" data-swiper-parallax-y="-20%">
                                <div class="swiper-image-inner swiper-image-left swiper-image-three">
                                    <h1>
                                        The <span class="emphasis">First</span>
                                        <br>
                                        <span>step is the hardest.</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="swiper-image" data-swiper-parallax-y="35%">
                                <div class="swiper-image-inner swiper-image-right swiper-image-four">
                                    <p class="paragraph">
                                        Therapy can be exciting and fascinating. Many people dread therapy, and are afraid of it. There seems to be a common misperception that therapists judge and diagnose patients, leaving people feeling worse about themselves and less confident, However, a therapist’s job, she said, is to help you harness your strengths, and to feel more confident about yourself and your life overall.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide swiper-slide-three">
                            <div class="swiper-image" data-swiper-parallax-y="-20%">
                                <div class="swiper-image-inner swiper-image-left swiper-image-five">
                                    <h1>
                                        No <span class="emphasis">quick</span>.
                                        <br>
                                        <span>wins.</span>
                                    </h1>
                                </div>
                            </div>
                            <div class="swiper-image" data-swiper-parallax-y="35%">
                                <div class="swiper-image-inner swiper-image-right swiper-image-six">
                                    <p class="paragraph">
                                        Unlike a medical doctor, a therapist typically doesn’t ‘do something’ to you, you’re an active participant in the process. Therefore, the more active, honest, and vulnerable clients are willing to be, the more they’ll get out of the process.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
        <!-- About Us -->
        <section id="about-us" class="banner">
            <!-- About Us description -->
            <section class="content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="section-header">About Us</div>
                        </div>
                        <div class="col-sm-8 col-sm-offset-2 text-center">
                            <p>MindHealth is a mental health practice that provides counseling and psychiatric services to the local community.</p>
                            <p>
                                Therapy is not just about healing but it is about growth. Life is hard. We get stuck, we feel crappy, we get stressed out, we feel disappointment , hurt , pain etc...
                            </p>
                            <p>
                                Not taking the time to deal with these emotions can leave us carrying emotional baggage that hinders you from reaching your desired outcomes in life. Life is too short to let these burdens weigh you down.
                            </p>
                            <p>No one is exempt from mental health. Even the most well made automobiles have to go in for maintenance right?</p>
                            <h4>
                                At MindHealth, we take the approach that everyone is capable of living their best life and finding their own inner peace and happiness. Might sound a little aspirational but hey its our way of trying to make the world a better place.
                            </h4>
                            ​
                        </p>
                    </div>
                </div>
            </div>
            <!-- /.container -->
        </section>
        <!-- /.about us description -->
        <section class="content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="section-sub-header">
                            <div class="sub-header__text">Clinical Staff</div>
                        </div>
                    </div>
                </div>
                <!-- dhara -->
                <div id="dhara" class="row">
                    <div class="profile col-sm-12">
                        <div class="col-sm-4">
                            <img class="oval"
                                 src="https://assets.codepen.io/6554302/3446dfd6-7fbf-459b-b2d7-2b2e4e7443fe.png"
                                 height="250px">
                        </div>
                        <div class="col-sm-8"></div>
                        <div class="profile-top">
                            <div class="profile-image image-dhara"></div>
                            <div class="profile-name">Dhara Nathwani, LCPC</div>
                            <div class="profile-position">Licensed Clinical Therapist</div>
                        </div>
                        <div class="profile-description">
                            Dhara's approach to therapy is supportive, warm and non-judgemental. She works collaboratively with each individual, developing an understanding of each person’s unique goals and implementing individualised, tailored therapy programs.
                        </div>
                        <button type="button"
                                class="btn btn-link profile-link"
                                data-toggle="modal"
                                data-target="#dharaModal">
                            More About Dhara
                        </button>
                        <div class="profile-contacts">
                            <div class="contact-info contact-small">
                                <i class="material-icons">&#xE325;</i>
                                <div class="contact-info__text">630-755-3220</div>
                            </div>
                            <div class="contact-info contact-small">
                                <i class="material-icons">&#xE0BE;</i>
                                <div class="contact-info__text">DharaMindHealth@PLACEHOLDER.COM</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.dhara -->
        </div>
        <!-- /.container -->
    </section>
    <!-- /.psychologists -->
    <!-- We can help with -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"></div>
            </div>
            <!-- /.row -->
            <div class="row black-yellow-gradient">
                <div class="section-sub-header">
                    <div class="sub-header__text">
                        (DHARA TO EDIT) We can help with...
                    </div>
                </div>
                <div class="col-sm-4">
                    <ul class="help-list">
                        <li>
                            Depression
                        </li>
                        <li>
                            Anxiety
                        </li>
                        <li>
                            Obsessive Compulsive Disorder
                        </li>
                        <li>
                            Trauma including PTSD
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="help-list">
                        <li>
                            Autism Spectrum Conditions
                        </li>
                        <li>
                            Tic Disorders
                        </li>
                        <li>
                            Self Esteem
                        </li>
                        <li>
                            Interpersonal Difficulties
                        </li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="help-list">
                        <li>
                            Sleep Difficulties
                        </li>
                        <li>
                            Grief and Loss
                        </li>
                        <li>
                            Parenting
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.we can help with -->
</section>
<!-- /.about us -->
<!-- Our Service -->
<section id="our-service" class="banner">
    <div class="section-header">
        Our Service
    </div>
    <!-- Making an appointment -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-sub-header">
                        <div class="sub-header__text">
                            Making an Appointment
                        </div>
                    </div>
                    <p>
                        You don’t need a referral from your PCP or Psychiatrist to make an appointment to see one of the therapists at the MindHealth.
                    </p>
                    <p>
                        We welcome any questions or requests for further information.
                    </p>
                    <div class="in-body-appt-btn">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.making an appointment -->
    <!-- Initial Consultation -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-sub-header">
                        <div class="sub-header__text">
                            Initial Consultation
                        </div>
                    </div>
                    <p>
                        Following this appointment, together you will develop an individualized formulation and treatment plan.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.initial consulatation -->
    <!-- The Therapy Process -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-sub-header">
                        <div class="sub-header__text">
                            Therapy Process
                        </div>
                    </div>
                    <p>
                        Sessions are 50 minutes in duration and the frequency of appointments is individually tailored to meet your needs and goals. Appointments can be scheduled weekly, fortnightly and monthly.
                    </p>
                    <p>
                        During the therapy process, your psychologist might need to consult with your other health professionals. Your written consent will be requested. Our psychologists are bound by a professional code of ethics and are required to abide by principles of professional conduct, responsibilities and confidentiality. Some limits of confidentiality apply, your therapists will discuss these with you at your initial appointment.
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.therapy process -->
    <!-- Fees & Rebates -->
    <section class="content">
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="section-sub-header">
                        <div class="sub-header__text">
                            Fee Schedule
                        </div>
                    </div>
                    <p>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">
                                    </th>
                                    <th scope="col">
                                        Service
                                    </th>
                                    <th scope="col">
                                        Fee
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td>
                                        Diagnostic Assessment
                                        (1st session)
                                    </td>
                                    <td>
                                        $150
                                    </td>
                                </tr>
                                <tr>
                                    <th scope="row">
                                    </th>
                                    <td>
                                        60 Minute Psychotherapy Session
                                    </td>
                                    <td>
                                        $125
                                    </td>
                                </tr>
                            </table>
                        </p>
                        There is a cancellation fee <strong>[DHARA TO ADD CANCELLATION POLICY]</strong>
                    </p>
                </div>
            </div>
        </div>
        <!-- /.container -->
    </section>
    <!-- /.fees & rebates -->
</section>
<!-- /.our service -->
<!-- Contact Us -->
<section id="contact-us" class="banner full-width">
    <div class="container-fluid">
        <div class="row">
            <div class="map col-sm-6">
            </div>
            <div class="col-sm-6 text-center pv-50">
                <div class="section-header text-left">
                    Contact Us
                </div>
                <address>
                    <i class="fa-solid fa-building"></i>
                    <strong>MindHealth Chicago</strong>
                    <br>
                    246 E. Janata Blvd.
                    <br>
                    Suite 245
                    <br>
                    Lombard, IL 60148
                </address>
                <div class="contact-info">
                    <i class="material-icons">&#xE0CD;</i>
                    <div class="contact-info__text">
                        <a href="tel:+16307853220">630-785-3220</a>
                    </div>
                </div>
            </div>
        </section>
        <!-- Modal -->
        <div class="modal fade"
             id="dharaModal"
             tabindex="-1"
             role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <!--         <h4 class="modal-title" id="myModalLabel">Modal title</h4> -->
                        <div class>
                            <img class="profile-image image-dhara oval"
                                 src="https://assets.codepen.io/6554302/3446dfd6-7fbf-459b-b2d7-2b2e4e7443fe.png"
                                 alt=""/>
                        </div>
                        <div class="profile-name text-center">
                            Dhara Nathwani
                        </div>
                        <div class="profile-position text-center">
                            Licensed Clinical Therapist
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>
                            My therapeutic style is a little unconventional. I work very well with people who have never been to therapy before but are ready to take the first step and see what it is all about OR with people who have been to several therapists and are just not finding much luck. Therapy should be insightful, fun, engaging and challenging. My job is to meet you where you are at emotionally and help you achieve the growth that you are seeking.
                        </p>
                        <p>
                            During our time together, you can expect that I will ask a <em>TON</em> of questions to gather a thorough history about you so that I get an accurate assessment about who you are as an individual. We will then work together to identify any changes that you may like to make. It is my job to guide the process and help you work at a pace that feels comfortable for you.
                        </p>
                        <p>
                            Therapy is not just about what we discuss in the therapy setting but about how the insight/tools are being applied outside of the therapy setting. Accountability is everything. The things we talk about will be focused and centered around the changes that you are trying to make. You can expect that I will do my best to help you get to the source of these problems, find viable solutions and support you in taking the action steps required to making meaningful changes. Let’s take this journey of personal growth together.
                        </p>
                        <p>
                            Dhara is a member of <strong>[DHARA TO ADD LICENSE AND PROFESSIONAL ORGANIZATION INFO]</strong>
                        </p>
                        <p>
                            Dhara welcomes all inquires, please feel free to contact her if you have any questions or would like further information.
                        </p>
                    </div>
                    <!-- /.modal body-->
                    <div class="modal-footer text-center">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            Close
                        </button>
                    </div>
                    <!-- /.modal footer-->
                </div>
                <!-- /.modal content-->
            </div>
            <!-- /.modal dialog -->
        </div>
        <!-- /.modal -->
        <!-- Modal -->
        
    {% endblock %}
