<footer class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="footer-header">Disclaimer</div>
					<p>Please note the MindHealth Practice does not provide a crisis service. If you are in crisis, please call the Mental Health America at <strong><a href="tel:+18009855990">1-800-985-5990</a></strong> or Text <a href=”sms:[741741]&body=[HOME]”>HOME</a> to <strong>741741</strong> <em>(Standard Text Message Rates Apply)<em> and go to the emergency department of your local hospital or call 911.</p>
					<p>
						The content on this website is only a summary of the subject matter covered and is not intended to be, nor should be relied on, as a substitute for professional advice.
					</p>
					<p>

						Every care has been taken to ensure that information is accurate and appropriate to the general population. However, no warranties or
						representations regarding the quality, accuracy or fitness for purpose of any content on this site are made.
						Any person accessing this site shall have no right to seek any compensation for any loss or damage from any party associated with the site howsoever occasioned.
					</p>
					<p>
						Links to third party sites are provided for general information only. MindHealth Practice does not guarantee the content of any sites.
						Your access to, and reliance on, third part site is entirely at your own risk. MindHealth Practice excludes all liability (including for negligence)
						for any loss, cost, expense or damage arising out of your use of third party sites.
					</p>
					<p id='copyright'>
					</p>
				</div><!-- /.col sm 12 -->
			</div><!-- /.row -->
		</div><!-- /.container -->
	</footer>