	<nav class="navbar navbar-fixed-top">
		<div class="container">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="logo-link-brand">
					<a id="logo-link" href="#home">
						<img id="logo" src="https://assets.codepen.io/6554302/IMG_0349_edited+%283%29.png" alt="" />
						<span id="logo-font-black">Mind</span><span id="logo-font-yellow">Health</span>
					</a>
				</div>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#about-us">About Us</a></li>
					<li><a href="#our-service">Our Service</a></li>
					<li><a href="#blog">Blog</a></li>
					<li><a href="#contact-us">Contact Us</a></li>
					<li id="button-list">
						<button id="btn-booking" type="button" class="btn btn-warning" data-toggle="modal" data-target="#modal-book-an-appointment">Book <br>
							An <br>
							Appointment</button>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>